* {
  box-sizing: border-box;
}

body{
    background-color: skyblue;
}
h1 {
    font-size: 27px;
	font-family: Georgia serif;
	text-align: center;
	color: rgb(0, 0, 0);
}

p {
	padding: 15px 5px 0px 5px;
	font-family: Georgia sans-serif;
	font-size: 16px;
	position: relative;
}

.option { 
   	border: 2px solid black;
   	margin-top: 20px; 
   	margin-right: 20px; 
   	text-align: justify;
	position: relative;
 }

span {
    background-color: lightgray;
	font-size: 20px;
    width: 30%;
	border-bottom: 2px solid black;
	border-left: 2px solid black;
	float: right;
	font-weight: bold;
	text-align: center;
}
#html {
	background-color: rgb(250, 150, 150);
}
#css {
	background-color: rgb(245, 70, 70);
}
#js {
	background-color: rgb(255, 255, 66);
}

/* Desktop PC view */

@media (min-width: 992px) {
 
  .coluna {
    width: 33.33%;
    float: left;
	}
}

/* Tablet PC view */
@media (min-width: 768px) and (max-width: 991px) {
    .coluna{
        width: 50%;
        float: left;
    }
    #terceira{
        width: 100%;
        float: left;
    }
}
/* Cell phone view */
@media (max-width: 767px)  {
  
  .coluna {
  	float: left;
    width: 100%;
  }
}